*{
    margin: 0;
    padding:0;
}
body{
    text-align:  center;
}
h1{ 
    /*color: #259cec;*/
    color: wheat;
    font-size: 5.625rem;
    font-family: Sacramento, cursive;
    margin: 50px auto 0px;
}

h3{/*color: rgb(102, 191, 191);*/
    color: wheat;
    font-family: Montserrat, sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}
p{
    margin-top:0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
ul{ float: left;
    list-style-type: none;
    
}
li{
    display: inline;
}
.nav-bar{
    display: flex;
    padding: 20px;
}
.nav-logo{
    
}
.top-container{
    background: url('https://img5.goodfon.com/wallpaper/nbig/4/2f/rendering-zima-noch-moroz-luna-chernyi-fon-kartinka.jpg') no-repeat ;
    background-size: cover;
    position: relative;
    height: 100vh;
    margin-top: 0;
}
.cloud-bottom{
    position: absolute;
    left: 300px;
    bottom: 300px;                                                                                                                                      px;
}
.cloud-top{
    position: absolute;
    right: 300px;
    top: 80px;
}
.content{
    position: absolute;
    margin-top: 0;
    color: #e57373;
}
.responsive {
    width: 100%;
    height: auto;
    
  }
.bottom-container{
    background:  linear-gradient(#d59bf6,#edb1f1);
    
}
